<h1> hello</h1>

<h3><%= link_to "Add new dinner guest", new_member_url %> </h3>
<% if current_user%>
	<% current_user.members.each do |member| %>
	<%= member.name%>
	<%end%>
<%else%>
	No current dinner guests
<% end %>
