<h1>Cookbooks Show</h1>

<h2><%= @cookbook.name %></h2>

<div class="back">
	<%= link_to "back to all cookbooks", cookbooks_url %>
</div>

<div class="back">
	<%= link_to "back to your family and guests", members_url %>
</div>

