/*Header log in, search*/

#nav {
	width: 100%;
	background-color: #c0392b;
	height: 100px;
	position: relative;
  margin-bottom: 50px;
}

.main-title {
	margin-bottom: auto;
	color: white;
	font-size: 50px;
}

#nav-buttons {
	margin-left: 400px;
	margin-top: auto;
	font-size: 30px;
	color: white;
	border: 10px;
	display: inline;
	position: absolute;
	top:0;
	right: 0;
}

#nav-buttons:hover {
	color: white;
}

.fundiv {
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  width: 300px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: #6fbdbd;
}

.fundiv:hover {
  background: #c0392b;
  border: solid white 10px;
  padding: 10px;
  text-align: top;
}


.main-search:link {
  text-decoration: none;
  color: white;
  line-height: 10px;
}

.main-search:hover {
  text-decoration: none;
  color: #6fbdbd;
}

.main-search:visited {
  text-decoration: none;
  color: white;
}

.logout{
  text-align: center;
  border-radius: 50px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  line-height: 70px;
  padding: 10px;

}

.logout:hover{
  text-align: center;
  border-radius: 50px;
  height: 10px;
  margin-left: auto;
  margin-right: auto;
  background: #6fbdbd;
}

.logging:link{
  text-decoration: none;
  color: white;
}

.logging:hover {
  text-decoration: none;
  color: #6fbdbd;
}

.logging:visited {
  text-decoration: none;
  color: white;
}

/*Input fields*/
.textfield {
  height: 30px;
  width: 30px;
}

input[type="submit"] {
  width: auto;
  font-size: 18px;
  background-color: #c0392b;
  font-weight: 500;
  color: #FFF;
  border: 1px;
  border-radius: 10px;
  margin-left: 20px;
  text-transform: lowercase;
}

input {
  font-family: Roboto;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  margin: 10px 10px;
  color: #666;
  background: #eee;
  border: 1px solid #999;
  padding: 15px;
}

/*Landing page*/

.not-logged-in {
  height: 150px;
  width: 400px;
  background: grey;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 100px;
  text-align: center;
  line-height: 35px;
  border-radius: 10px;
}


.pitch {
  font-family: Cursive;
  color: white;
  font-size: 20px;
}


/*Search results page*/

.recipe-result {
  float: left;
  width: 400px;
  height: 800px;
  overflow: scroll;
}

.recipe-result img {
  margin-left: auto;
  margin-right: auto;
}

.recipe-name {
text-align: center;

}

.search-tag {
  color: #c0392b;;
}

.sign-up {
  padding: 10px;
  color: white;
  background: #c0392b;
  border-radius: 10px;
}

.rating {
  margin-left: 60px;
}

.ingredients-details {
    background: #7bd17b;
    border-radius: 10px;
    width: 300px;
}
