<h1>Dinner Guest</h1>


	<h2><%= @member.name %></h2>
		<% @member.allergies.each do |allergy| %>
		<%= allergy.name %>
		<%#= link_to allergy.name, allergy %>
		<% end %>

	<%#= link_to "back to dinner guests", members_url %>
